<div id="sheet-info"><%= @workbook_size %> </div>
  <%= select_tag(@sample_field_list, options_for_select(@field_list, 0), :id=>"from-select") rescue "n/a"%>

<%#= select_tag(@selected_row, options_for_select(@hashed_name_row, 0), :id=>"from-select")%>
